
<div class="container">
    <div class="image">
        <img src="/assets/images/level1.png" alt="">
    </div>
    <div class="content">
        <h2>Contains images that are broadly accepted as appropriate and commonly witnessed by people in a public environment.</h2>
        <ul>
            <li> No profanity</li>
            <li>No sexual content - real or animated (no innuendo or partial nudity, nothing provocative)</li>
            <li>No violence or threatening imagery</li>
            <li>No weapons (finger, water, and Nerf guns are exceptions)</li>
            <li>No substances/drugs</li>
        </ul>
    </div>
</div>