
<div class="container">
    <div class="image">
        <img src="/assets/images/level2.png" alt="">
    </div>
    <div class="content">
        <h2>Contains images that are broadly accepted as appropriate and commonly witnessed by people in a public environment.</h2>
        <ul>
            <li> Mild profanity (ex: butt, hell, damn, suck, etc.)</li>
            <li>Mild bathroom humor</li>
            <li>Mild sexual content (ex: kissing on the lips, fully clothed provocative body movements.)</li>
            <li>Images that feature real guns in holsters and people aiming or shooting non realistic looking guns from pop culture
            </li>
            <li>Mildly abnormal or frightening activities, movements, or gestures</li>
        </ul>
    </div>
</div>

