.container {
    color: white;
    margin: 0 80px;
    h1{
        color:inherit;
    }
    .gifs {
        position    : relative;
        column-count: 4;
        padding     : 20px;

        .gif {

            display      : inline-block;
            margin-bottom: 10px;
            overflow     : hidden;

            img {
                width: 100%;
            }
        }

    }
}