/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

* {
    padding    : 0;
    margin     : 0;
    font-family: interface, "Helvetica Neue", helvetica, sans-serif;
   
}

body{
    background-color: black !important;
}